.footer {
  background-color: $color-dark-gray;
  padding: 1.5rem;

  & h2 {
    color: $colour-white;
    margin: 0 0 2rem;
    font-family: Shrikhand, "cursive";
    font-style: italic;
  }

  & p {
    color: $colour-white;
    margin: .5rem 0;
    font-weight: bold;
  }

  & span {
    padding-left: 1rem;
  }
}