.btn {
    color: $colour-white;
    border-radius: 100px;
    border: 0;
    cursor: pointer;
    padding: .75rem 1.5rem;
    background-image: linear-gradient(0deg, $colour-primary, $colour-secondary);
    transition-duration: .25s;
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
    margin: auto;
    text-align: center;

    &:hover {
        background-image: linear-gradient(0deg, #9a6ad5, #fa87da);
        transition-duration: .25s;
        box-shadow: 0.35rem 0.35rem 15px rgb(0 0 0 / 35%);
    }
}