.boxItem {
  background-color: $colour-tertiary;
  color: $colour-tertiary-dark;
  width: 80px;
  height: 20px;
  text-align: center;
  position: absolute;
  right: 40px;
  margin-top: 15px;
  font-size: 17px;
  padding: 10px 0 28px 0;
}