.operation {
  margin: auto;

  & h1 {
    text-align: left;
    margin: 50px 0 30px 20px;
  }

  &__listItem {
    margin: 1rem;
    display: flex;

    @media only screen and (max-width: 800px) {
      flex-wrap: wrap;
      flex-direction: column;
    }

    @media only screen and (min-width: 800px) {
      flex-wrap: nowrap;
      flex-direction: row;
    }

    &__step {
      position: relative;
      width: 100%;
      padding: 1.5rem;
      margin: 10px;
      font-size: 15px;
      border-radius: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);

      & span {
        padding-left: 1rem;
        font-size: 17px;
      }

      & p {
        border-radius: 100px;
        background-color: $colour-primary;
        color: $colour-white;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        left: -14px;
        justify-content: center;
        align-items: center;
        display: flex;
      }

      & i {
        font-size: 1.3em;
        color: $colour-text-gray;
      }
    }
  }
}