$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-tertiary-dark:#1b6150;
$colour-white: #ffffff;
$colour-background-header: #efefef;
$colour-background-light: #fafafa;
$colour-text-gray: #787777;
$color-dark-gray: #353535;
$color-black: black;

$button-shadow-size: .55rem;
$header-shadow-size: 0.9rem;

$layout-margin: 6rem;
$layout-max-width: 1440px;
$grid-gutter:10px;